table{
    margin-top: 10px;
}

.mat-table {
    // margin-left: 30%;
    width: 100%;
    box-shadow: none;
}

.tableheader {
    background-color: rgb(126, 2, 197);
}

th.mat-header-cell {
    color: #FFFFFF;
}