mat-toolbar {
    color: purple;
    border: 1.5px solid purple;
    border-radius: 10px;
    padding: 20px;
}

.filler{
    flex: 1 1 auto;
}

.uitloggen {
    color: white;
    background-color: purple;
    border-radius: 10px;
    border: 1.5px solid purple; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px; 
    cursor: pointer;
    font-size: medium;
}

