mat-toolbar {
    color: rgb(126, 2, 197);;
    border: 1.5px solid rgb(126, 2, 197);;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
}

.filler{
    flex: 1 1 auto;
}

.uitloggen {
    color: white;
    background-color: rgb(126, 2, 197);;
    border-radius: 10px;
    border: 1.5px solid rgb(126, 2, 197);; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px; 
    cursor: pointer;
    font-size: medium;
}

